#head {
	padding-top: 20px;
	padding-bottom: 20px;
}

#box{
	padding-top: 50px;
	padding-bottom: 0px;
}

#picturebox{
	background-image: url(/img/background.png);
	background-position: center;
	background-size: 100%;
	height:800px;
}

#title{
	padding-top: 150px;
}

#foot{
	padding-top: 40px;
	padding-bottom: 20px;
	
}

#space{
	padding-top: 20px;
}
