
#head {
	padding-top: 20px;
/*	padding-bottom: 20px; */
} 
#aboutbox {
	padding-top: 40px;
	padding-bottom: 50px;
	border-style: dashed;
}
#backbox{
	padding-top: 40px;
	padding-bottom: 50px;
}
#backbackbox{
	background-color: gray;
	background-size: 100%;
}
#edubox{
	padding-top: 40px;
	padding-bottom: 50px;
}

#skillbox{
	padding-top: 40px;
	padding-bottom: 50px;
	color: white;
}
#backskillbox{
	background-image: url(/img/blueprint.png);
	background-position:center;
	background-size: 100%;
}
#connectbox{
	padding-top: 30px;
	padding-bottom: 50px;
	border-style: dotted;
}

#picturebox{
	background-image: url(/img/background.png);
	background-position: center;
	background-size: 100%;
	height:800px;
}

#title{
	padding-top: 150px;
}

#foot{
	padding-top: 20px;
	padding-bottom: 10px;
	background-color: black;
	color: white;
}

ul li { 
	color: black;
}
#space{
	padding-top: 20px;
}
h4 {
	color: blue;
}
