
#head {
	padding-top: 20px;
/*	padding-bottom: 20px; */
} 

#edubox{
	padding-top: 50px;
	padding-bottom: 0px;
}
#backbox{
	padding-top: 50px;
	padding-bottom: 0px;
}
#projbox{
	padding-top: 50px;
	padding-bottom: 0px;
}
#skillbox{
	padding-top: 50px;
	padding-bottom: 0px;
}
#connectbox{
	padding-top: 50px;
	padding-bottom: 0px;
}

#picturebox{
	background-image: url(/img/background.png);
	background-position: center;
	background-size: 100%;
	height:800px;
}

#title{
	padding-top: 150px;
}

#foot{
	padding-top: 40px;
	padding-bottom: 20px;
}

ul li { 
	color: black;
}
#space{
	padding-top: 20px;
}
#backbox

h4 {
	color: blue;
}
