#head {
	padding-top: 20px;
	padding-bottom: 20px;
}

#box{
	padding-top: 50px;
	padding-bottom: 0px;
}

#picturebox{
	background-image: url("https://secure.static.tumblr.com/ec7c058b81349b14bb9baeb0bfb6f070/wtvo4bp/luFmxlouh/tumblr_static_image-fascinating-images-from-outer-space-update-dec_4958696.jpg");
	background-position: center;
	background-size: 100%;
	height:600px;
}

#title{
	padding-top: 150px;
}

#foot{
	padding-top: 40px;
	padding-bottom: 20px;
	
}

#space{
	padding-top: 20px;
}